
 body, html {
  color: #333333;
  min-height: 100vh;
  margin: 0;
  font-family:"Plus Jakarta Sans",sans-serif,"Noto Sans JP", sans-serif;
 

}
/*ヘッダーの作成*/
header {
  margin-top: 10px;
  /* height: 80px; */
  display: flex;
  flex-direction: column;
   justify-content: center; 
  align-items: center;
  
  width: 100%; 
  background-color: #EEEEEE;
  position: relative;
  
 
}
.header-logo{
  width:100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin-left:50px;
  top:780px;
}
.site-logo{
    position: fixed;
    z-index: 20;
    left:20px;
    top:20px;
    opacity: 0.5;
      filter: brightness(1000%) invert(0);  

  }  
  .site-logo.active{
    opacity: 1;
     filter: brightness(1);  
  }
   #js-nav{
    position: fixed;
    height:100vh;
    width:100vw;
    top:0;
    z-index:9;
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items:center;
    visibility: hidden;  
    
    transition:  0.3s;
  }
  #js-nav.active{
     visibility: visible; 
  }
/*ヘッダーのテキストメニュー*/
.menu {
  width: 100%;
  padding-top:40px;
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  width: 100%;
  
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  text-align: center;

  gap:40px;
  
  color: #0071BC;
  font:14px;
  font-weight: 400;
  text-align: center;
  position: fixed;
  z-index: 10;



}
/* パソコンサイズの時は画像を表示しない */

/*ヘッダーのアイコンメニュー*/
.menu-logo{
   
  gap: 12px;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  top:850px;
  margin-right: 100px;
  gap:50px;


}
/*アイコンの大きさ調整*/
  .icon-twitter{
  height:28px;
  width: 28px;
  top:600px;
  margin-left: 60px;
  display: block;
  display: flex;
  flex-direction: row;
  align-items:space-between;
   top:850px;
  left:430px; 
 
  }
  .icon-insta{
    height:28px;
    width: 28px;
    display: block;
    display: flex;
    flex-direction: row;
    align-items:space-between;
     top:800px;
    left:380px; 
  }
 .menu-botton{
    width:42px;
    height: 42px;
    position: relative;
  }
  .burger{
    position: fixed;
    top: 16px;
    right: 16px;
    z-index: 120;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 40px;
    height: 40px;
    background: none;
    border: none;
    cursor: pointer;
    visibility: visible;
  }
  span{
    width:30px;
    height:2px;
    background-color: #0071BC;
    position: absolute;
    top:50%;
    right:0;


    visibility: visible;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out, top 0.3s ease-in-out; 
}
    
  span:nth-child(1){
    margin-top: 7px;
  }
  span:nth-child(2){
    margin-top: 14px;
  }
  span:nth-child(3){
    margin-top: 21px;
  }
  #js-humberger.active span:nth-child(1){
    -webkit-transform:
    translateY(7px) rotate(-45deg);
    transform:translateY(7px)rotate(-45deg);
   
  }
  #js-humberger.active span:nth-child(2){
    opacity: 0;
  }
  #js-humberger.active span:nth-child(3){
    -webkit-transform:
    translateY(-7px) rotate(45deg);
    transform:translateY(-7px)rotate(45deg);
  }
  .line-button-header{
  width: 100px;
  height:30px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #0071BC;
  font-size: 14px;
  font-weight: 700;
  background-color: #EEEEEE;
  border:1px solid #0071BC;
  position: fixed;
  top: 600px;
  left:430px;
  z-index: 13;
  
}
.main-content{
  overflow-x: hidden;
}
/*メインの画像*/
.main-visual{
  background-image: url(../img/bg-mainvisual.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 760px;
  position: relative;

}
/*学生プログラミングコミュニティのテキスト*/
.subtitle{
  background-color: #FFFFFF;
  color:#0071BC;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: 85%;

}
/*自分史上最高の仲間をのテキスト*/
.title{

  background-color: #FFFFFF;
  color: #333333;
  font-size: 60px;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: absolute;
  left: 15%;
  top: 90%;
}
/*スクロールバーの〇*/
.scroll::before{
  content:"" ;
  width: 8px;
  height:8px;
  background-color: #FFFFFF;
  border-radius: 50%;
  position: absolute;
  left: -1%;
  top: 50%;
  transform: translateY(-50%);

}
/*スクロールのテキスト*/
.scroll{
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 700;
  position: absolute;
  left: 90%;
  top: 95%;
  position: relative;

}
/*POSSEとはのテキスト*/
.posse-title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  background-color: #FFFFFF;
  position: relative;
}
.posse-title-ja{
  padding-top: 30px;
  font-size:36px;
  font-weight: 700;
  color:#333333;
  background-color: #FFFFFF;
  
  
  
}
.posse-title-en{
  padding-top: 15px;
  font-size: 14px;
  font-weight: 700;
  color: #0071BC;
  background-color: #FFFFFF;


}
/*左の画像の挿入*/
.about-posse::before{
  image: url(../img/img-about.jpg)

}
/*display gridでエリアを割り当て*/
.about-posse{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "image text";
  font-size: 14px;
  font-weight: 400;
  color:#333333;
  background-color: #FFFFFF;
  position: static;
  left: 50%;
  
}
.posse-text{
  grid-area:text;
  font-size: 14px;
  font-weight: 400;
  color: #333333;
}
.posse-img{
  grid-area: image;
  max-width: 982px;
  height: 312px;
 padding-left: 20%;
 border-radius: 10px;

}
/*イベント部分のタイトル*/
.event-title{
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.event-title-ja{
  font-size: 36px;
  font-weight: 700;
  color: #333333;
}
.event-title-en{
  font-size: 14px;
  font-weight: 700;
  color: #0071BC;
  padding-top: 20px;
}
.event-text{
  font-size: 14px;
  font-weight: 400;
  padding-top: 20px;
}
/*display gridでエリア作成*/
.event-all{
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  
}
/*エリアの割り当て*/
.event1{
 
  
  border-radius: 10px;
  background-color:#EEEEEE ;
  max-width: 320px;
 
  padding-bottom: 15px;
}
.event2{
  
  align-items: center;
  
  border-radius: 10px;
  background-color: #EEEEEE;
  max-width: 320px;
 
  padding-bottom: 15px;
}
.event3{

  
  border-radius: 10px;
  background-color: #EEEEEE;
  max-width: 320px;

  padding-bottom: 15px;
}
.event4{

  
  border-radius: 10px;
  background-color: #EEEEEE;

  padding-bottom: 15px;
}
/*event部分の画像の設定*/
 .event-img{
  width:100%;
  max-height: 200px;
  border-radius: 10px 10px 0 0;
  padding-bottom: 15px;
} 
/*日付テキストの設定*/
.event-date{

  height:25px;
  background-color: #0071BC;
  width: 120px;
  border-radius: 20px;
  color: #FFFFFF;
  font-size: 14px;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}
/*イベント名の設定*/
.event-name{
  font-size:18px;
  color: #333333;
  font-weight: 700;
 
}
/*日常生活のタイトルテキスト*/
.daily-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;;
  padding-bottom: 50px;
}
.daily-title-ja{
  font-size: 36px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 15px;
}
.daily-title-en{
  font-size: 14px;
  font-weight: 700;
  color: #0071BC;
}
/*日常生活のリード文の設定*/
/*o1ナンバリングのリセット*/
.daily-text{
  counter-reset: step-counter;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}
/*０１ナンバリングの設定*/
.daily-text >div{
  counter-increment: daily-section-counter;
}
.daily-title-text{
  font-size: 14px;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
/*疑似要素01ナンバリングの設定*/
.daily-name::before{
  content: counter(daily-section-counter, decimal-leading-zero);
  font-size: 58px;
  color: #0071BC;
  font-weight: 700;
  margin-right: 30px;
}
.daily-name{
  font-size: 24px;
  font-weight: 700;
  color: #333333;
  padding-bottom: 30px;
  padding-left: 30px;
}
/*画像の設定*/
.daily-img{
  width:100%;
  height: 100%;
  border-radius: 10px;
  /* padding-bottom: 20px; */
}
 /*チェックマークの設定*/
.check-list::before{
  content:"";
  width: 6px;
  height: 10px;
  border-right: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
  position: absolute;
  z-index: 2;
  left: 10px;
  top:50%;
  padding-bottom: 15px;
  transform: translateY(-50%) rotate(45deg);
}
/*〇の設定*/
.check-list::after{
  content:"";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #0071BC;
  border:1px solid #0071BC;
  position: absolute;
  left: 3px;
  top:50%;
  transform:translateY(-50%);
  z-index: 1;
  padding-bottom: 15px;
}
.check-list{
  font-size: 18px;
  font-weight: 700;
  color: #333333;
  
  display: flex;
  
  align-items: center;

  gap:20px;
  position: relative;
  
  /* padding-bottom: 15px; */
  
  padding-left: 30px;
  
}
/*各要素のグループ化*/
.daily-1{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center; 
  background-color: #EEEEEE;
  border-radius: 15px;
  max-width: 980px;
  width: 100%;
  max-height: 400px;
  height: 100%;
   padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  gap: 20px; 
  
}
.daily-2{
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center; 
  background-color: #EEEEEE;
  border-radius: 15px;
  max-width: 980px;
  width: 100%;
  max-height: 400px;
  height: 100%;
  padding-top: 40px;
  padding-bottom: 20px;
  gap:20px;
   
  

}
.daily-3{
   display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #EEEEEE; 
  border-radius: 15px;
  width: 100%;
  max-width: 980px;
  max-height: 400px;
  height: 100%;
  padding-top: 40px;
  padding-left: 30px;
  padding-bottom: 20px;
  gap: 20px;
  

}
footer{
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 20px;
 

}
.footer-menu{
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #ADADAD;
  font-weight:14px;
  padding-top: 20px;
  
}
/*line部分の設定*/
/*背景画像設定*/
.posse-line{
  display: block;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  background-image: url(../img/bg-cta.jpg);
  background-repeat: no-repeat;
  padding-bottom: 30px;

}
.line-icon{
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 20px;
  color:#FFFFFF;
  font-size: 36px;
  font-weight: 700;
}
.line-icon-img{
  width: 40px;
  height: 40px;
}
.line-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: #EEEEEE;
  font-size: 14px;
  font-weight: 400;
  padding-bottom: 20px;
}
.line-button{
  width: 315px;
  height:55px;
  display: flex;
  border-radius: 30px;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-bottom: 15px;
  color: #0071BC;
  font-size: 16px;
  font-weight: 700;
  background-color: #EEEEEE;
 

}
.line-button:hover{
  color: greenyellow;
  text-decoration: underline;
}
.splide_arrow{
  width:40px;
  height:40px;
   border-color: #0071BC;
  background-color: #FFFFFF;
}
